##################################################
# Path to executables
bcftools: /path/to/bcftools
cellsnp_lite: /path/to/cellsnp-lite
eagle: /path/to/eagle2
shapeit: /path/to/phase_common_static
longphase: /path/to/longphase_linux-x64
mosdepth: /path/to/mosdepth

##################################################
# Input
sample_file: /path/to/sample.tsv
ref_snp_file: null
chromosomes: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

##################################################
# Reference
reference_version: null
reference: null
genome_size: null
region_bed: null

##################################################
# SNP panel
snp_panel_version: 1000GP
snp_panel: null

##################################################
# Phase panel, used by population-based phasing methods.
phasing_panel_version: 1000G_hg38
phasing_panel: null

##################################################
# genotype_snps
params_cellsnp_lite:
  UMItag: "Auto"
  cellTAG: "CB"
  minMAF: 0
  minCOUNT_genotype: 2
  minCOUNT_pileup: 1

params_bcftools:
  min_mapq: 0
  min_baseq: 11
  min_dp: 5
  max_depth: 300

##################################################
params_annotate_snps:
  # set <min_het_reads> to 0 to replicate numbat criteria.
  min_het_reads: 2
  min_hom_dp: 10
  min_vaf_thres: 0.1
  filter_nz_OTH: true

##################################################
# phase_snps
phaser: "eagle"
eagle_dir:
shapeit_dir:
params_eagle:
params_shapeit:
params_longphase:
  min_mapq: 20
  extra_params: "--pb"

##################################################
params_postprocess:
  mask_out_of_region: true
  # bulk-only
  min_depth: 1
  gamma: 0.05

params_mosdepth:
  read_quality: 11
  extra_params: "--no-per-base --fast-mode"

##################################################
threads:
  genotype: 8
  phase: 2
  pileup: 16
  postprocess: 2
  mosdepth: 16
