##################################################
# Genotyping YAML configuration file
##################################################
# Path to executables
bcftools: /path/to/bcftools
cellsnp_lite: /path/to/cellsnp-lite
eagle: /path/to/eagle2
shapeit: /path/to/phase_common_static
longphase: /path/to/longphase_linux-x64
mosdepth: /path/to/mosdepth

# Output paths, relative to snakemake --directory
snp_dir: "snps"
phase_dir: "phase"
pileup_dir: "pileup"
allele_dir: "allele"
log_dir: "logs"

##################################################
# Input
sample_file: /path/to/sample.tsv
chromosomes: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

# skip genotyping & phasing when provided.
ref_snp_file: null
# HATCHet CNV profiles and block phased haplotypes.
seg_ucn: null
bbc_ucn: null
bbc_phases: null

##################################################
# Reference
reference_version: null
reference: null
genome_size: null
region_bed: null

# gene annotation GTF file
gtf_file: null

##################################################
# SNP panel
snp_panel_version: 1000GP
snp_panel: null

##################################################
# Phase panel, used by population-based phasing methods.
phasing_panel_version: 1000G_hg38
phasing_panel: null

##################################################
# genotype_snps
params_cellsnp_lite:
  UMItag: "Auto"
  cellTAG: "CB"
  minMAF: 0
  minCOUNT_genotype: 1
  minCOUNT_pileup: 1

params_bcftools:
  min_mapq: 0
  min_baseq: 11
  min_dp: 5
  max_depth: 300

##################################################
# mode 2.
params_annotate_snps:
  # set <min_het_reads> to 0 to replicate numbat criteria.
  min_het_reads: 2
  min_hom_dp: 10
  min_vaf_thres: 0.1
  filter_nz_OTH: true
  filter_hom_ALT: false

##################################################
# phase_snps
phaser: "eagle"
eagle_dir:
shapeit_dir:
params_eagle:
params_shapeit:
params_longphase:
  min_mapq: 20
  extra_params: "--pb"

##################################################
params_postprocess:
  # SNP filtering paramters
  ## filter SNP if any sample failed, (mode 1)
  min_depth: 1
  ## per-SNP beta-posterior CI test on matched-normal sample, (mode 1)
  gamma: 0.05

  # switchprobs parameters
  ## estimate switchprobs by genetic map (population-based phasing)
  min_switchprob: 1e-6
  nu: 1

  ## split SNPs if switchprobs exceeds max_switchprob when PS is N/A.
  max_switchprob: 0.1

  ## constant switchprobs inter-PS for long-read based phasing.
  ## for HATCHet HMM clustering phase transitions only.
  switchprob_ps: 5e-2

  # binom_test parameters
  ## when min(|AF_2 - 0.5|, |AF_1 - 0.5|) > binom_margin and
  ## sign(AF_1 - 0.5) != sign(AF_2 - 0.5)
  ## perform adjacent SNP 2-AF binomial test and split SNPs.
  binom_test: true
  binom_alpha: 5e-3
  binom_margin: 0.05

  nsnp_meta: 2

  min_snp_reads: 200
  min_snp_per_block: 10

##################################################
# compute RDRs - bulk only
mappability_file: null
params_mosdepth:
  read_quality: 11
  extra_params: "--no-per-base --fast-mode"

params_compute_rdr:
  gc_correct: true

##################################################
threads:
  genotype: 8
  phase: 2
  pileup: 16
  postprocess: 2
  mosdepth: 16
