# Path to executables
bcftools: /path/to/bcftools
cellsnp_lite: /path/to/cellsnp-lite
eagle: /path/to/eagle2
shapeit: /path/to/phase_common_static

# Input
sample_file: ./config/sample.tsv
mode: N/A # sc_rna, sc_atac, visium, visium_hd_3prime
chromosomes: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]

# Het SNPs provided from matched bulk sample, if available
ref_snp_file: N/A

# reference file
reference_version: N/A
reference: N/A
genome_size: N/A
region_bed: N/A

# 1000GP SNP panel (bcf.gz) or dbSNPv155.vcf.gz
snp_panel: N/A

# hg38: http://pklab.med.harvard.edu/teng/data/1000G_hg38.zip
panel_version: 1000G_hg38
phasing_panel:

# phase_snps
phaser: "eagle"
eagle_dir:
shapeit_dir:

# Parameters
params_cellsnp_lite:
  UMItag: "Auto"
  cellTAG: "CB"
  minMAF: 0
  minCOUNT: 1

params_annotate_snps:
  min_het_reads: 2
  min_hom_dp: 10
  min_vaf_thres: 0.1

params_eagle:

params_shapeit:

threads:
  genotype: 8
  phase: 2
  pileup: 16
  postprocess: 2
